<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user.username %>
</p>
<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
	<strong>Health:</strong>
	<%= @game.games_health %>
</p>
<% if @scenario %>
<p><%= @scenario.scenario %></p>
<% else %>
<p>a;lskdfjlks</p>
<% end -%>


<%= form_tag('url_goes_here', :method => :get) do %>

<% end -%>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
